## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.rsuser
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
